*.class
*.iml
*.log
*.xml

# sbt specific
.bsp/
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
target/
project/boot/
project/plugins/project/
project/target/

# Scala-IDE / IOS specific
.DS_Store
.idea
.scala_dependencies
.worksheet